<nav>
  <ul class="nav-list">
    <li>
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="/transactions"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Transactions</a
      >
    </li>
    <li>
      <a
        routerLink="/transaction/create"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Create Transaction</a
      >
    </li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<div style="margin: 20px">
  <router-outlet />
</div>
